<div class="container">
    <% if flash[:danger] %>
        <div class="alert alert-danger"><p><%= flash[:danger] %></p></div>
    <% end %>
    <div class="col-md-6">

    <h1>User Login</h1>

    <%= simple_form_for(:session, :url => login_path) do |f| %>
        <%= f.input :email, label: 'Email Address' %>
        <%= f.input :password, label: 'Password' %>
        <%= f.submit 'Login', class: 'btn btn-primary' %>
    <% end %>
    <br>
    <p>New user? <%= link_to "Register an account", register_path %></p>
    </div>
</div>
