<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, :label => "Project Title" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-success" %>
    <a style="text-decoration: none; color: white;" class="btn btn-warning" href="<%= projects_path %>">Cancel</a>
  </div>
<% end %>
